@namespace Kurmann.Videoschnitt.Application.Components

@inject NavigationManager Navigation
@inject Kurmann.Videoschnitt.Workflows.FinalCutProWorkflow FinalCutProWorkflow
@inject Kurmann.Videoschnitt.Workflows.HealthCheckWorkflow HealthCheckWorkflow

<nav>
    <a @onclick="ExecuteMetadataProcessing">Metadaten-Verarbeitung</a>
    <a @onclick="ExecuteHealthCheck">Status</a>
    <a href="/swagger">API-Dokumentation</a>
</nav>

@code {
    [Parameter]
    public EventCallback<string> OnLogAdded { get; set; }

    private void ExecuteMetadataProcessing()
    {
        var progress = new Progress<string>(async statusUpdate =>
        {
            await OnLogAdded.InvokeAsync(statusUpdate);
        });

        var result = FinalCutProWorkflow.Execute(progress);
        if (result.IsFailure)
        {
            OnLogAdded.InvokeAsync(result.Error);
        }
    }

    private void ExecuteHealthCheck()
    {
        var progress = new Progress<string>(async statusUpdate =>
        {
            await OnLogAdded.InvokeAsync(statusUpdate);
        });

        var result = HealthCheckWorkflow.Execute(progress);
        if (result.IsFailure)
        {
            OnLogAdded.InvokeAsync(result.Error);
        }
    }
}