@namespace Kurmann.Videoschnitt.Application.Components

<nav>
    <a @onclick="NotifyMetadataProcessing">Metadaten-Verarbeitung</a>
    <a @onclick="NotifyHealthCheck">Status</a>
    <a href="/swagger">API-Dokumentation</a>
</nav>

@code {
    [Parameter]
    public EventCallback OnMetadataProcessing { get; set; }
    
    [Parameter]
    public EventCallback OnHealthCheck { get; set; }

    private async Task NotifyMetadataProcessing()
    {
        if (OnMetadataProcessing.HasDelegate)
        {
            await OnMetadataProcessing.InvokeAsync(null);
        }
    }

    private async Task NotifyHealthCheck()
    {
        if (OnHealthCheck.HasDelegate)
        {
            await OnHealthCheck.InvokeAsync(null);
        }
    }
}