<nav>
    <a @onclick="async () => await ExecuteMetadataProcessing()">Metadaten-Verarbeitung</a>
    <a @onclick="async () => await RequestHealthCheck()">Status</a>
    <a href="/swagger">API-Dokumentation</a>
</nav>