@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation

<h1>Willkommen bei Kurmann Videoschnitt</h1>

<nav>
    <a @onclick="ExecuteMetadataProcessing">Metadaten-Verarbeitung</a>
    <a @onclick="ExecuteTimerService">Timer</a>
    <a href="/swagger">API-Dokumentation</a>
</nav>

<div id="logContainer">
    <pre>
        @foreach (var log in logs)
        {
            // Ausgabe der Log mit Zeilenumbruch (Environment.NewLine)
            @log.ToString()@Environment.NewLine;
        }
    </pre>
</div>

@code {
    private List<string> logs = new List<string>();

    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/logHub"))
            .Build();

        // Füge initiale Log-Nachrichten hinzu um mitzuteilen, das hier die Logs erscheinen
        logs.Add("Logs werden hier angezeigt.");

        hubConnection.On<string>("ReceiveLogMessage", (message) =>
        {
            logs.Add(message);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private void ExecuteMetadataProcessing()
    {
        // Platzhalter für die API-Aufruf zur Metadaten-Verarbeitung
        logs.Add("Metadaten-Verarbeitung gestartet.");
        StateHasChanged();
    }

    private void ExecuteTimerService()
    {
        // Platzhalter für die API-Aufruf zum Timer-Service
        logs.Add("Timer-Service gestartet.");
        StateHasChanged();
    }
}