<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Note: This file is part of GIT code repository because it does not contain any sensitive paths or secrets -->
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.swiss.kurmann.videoschnitt</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/kurmann/videoschnitt/Application</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/kurmann_videoschnitt.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/kurmann_videoschnitt.error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>ASPNETCORE_ENVIRONMENT</key>
      <string>Production</string>
    </dict>
  </dict>
</plist>